.painel, .painel2 {
	width: 100%;
	font-family: Arial;
	font-size: 20px;
	text-align: center;
}

.painel2 {
	height: 100%;
}

.painel td {
	vertical-align: top;
	width: 50%;
	height: 100%;
}

#l1 {
	width: 90%;
	margin: auto;
}

.tabela {
	width: 100%;
}

.tabela2 {
	width: calc(100% - 10px);
}

.tabela, .tabela2 {
	border-style: groove;
	height: 100%;
	margin-bottom: 10px;
}

div.jqplot-table-legend-swatch {
	width: auto;
}

div.jqplot-table-legend-swatch-outline {
	border: none;
	padding: 0;
}

.jqplot-target {
	color: black;
}

.main-container {
	display: table;
	height: 100%;
	width: 100%;
}

.child1, .child2 {
	display: table-row;
}

.child2 {
	height: 100%;
}