#painel td {
	width: 50%;
}

#painel td td {
	width: auto;
}

#painel .jqplot-grid-canvas {
	display: none;
}

#painel .jqplot-series-canvas {
	background: white;
}

#painel .jqplot-title {
	margin-top: 20px;
}

.jqplot-target {
	color: black;
}

.jqplot-pie-series.jqplot-data-label {
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px
		0 #000;
}

.main-container {
	display: table;
	height: 100%;
	width: 100%;
}

.child1, .child2 {
	display: table-row;
}

.child2 {
	height: 100%;
}

.jqplot-point-label, .jqplot-table-legend-label {
	font-size: initial;
}

table.jqplot-table-legend, table.jqplot-cursor-legend {
	border: none;
}